:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    color-scheme: light dark;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    height: 100vh;
    background-color: #000;
}

#app {
    display: grid;
    grid-template-columns: 0.2fr 1fr;
    gap: 0.5rem;
    padding: 0.5rem;
    height: 100%;
}